<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>Check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExpense</servlet-name>
        <servlet-class>AddExpense</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExpenses</servlet-name>
        <servlet-class>AddExpenses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExpense</servlet-name>
        <url-pattern>/AddExpense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExpenses</servlet-name>
        <url-pattern>/AddExpenses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
